extends layout
block content
 h1= title
 - let animalid = toShow._id
 - let animal_type = toShow.type
 - let animalname = toShow.name
 - let animalage = toShow.age
 div
    div.row
      div(class='animalAttr mr-3') Animal Id is:
      div #{animalid}
    div.row
      div(class='animalAttr mr-3') Animal Type is:
      div #{animal_type}
    div.row
      div(class='animalAttr mr-3') Animal Name is:
      div #{animalname}
    div.row
      div(class='animalAttr mr-3') Animal Age is:
      div #{animalage}